<div class="chat-input">
  <div class="username-form">
    <label for="username"><fa-icon [icon]="faUser"></fa-icon></label>
    <input
      #usernameInput
      type="text"
      name="username"
      class="username-input"
      placeholder="My username..."
      (input)="saveUsername(usernameInput.value)"
      [value]="currentUsername"
    />
  </div>
  <div class="message-form">
    <label for="message"><fa-icon [icon]="faComment"></fa-icon></label>
    <textarea
      #messageInput
      type="text"
      name="message"
      class="message-input"
      placeholder="My message..."
      (input)="saveNewMessage(messageInput.value)"
      [value]="newMessage"
      (keyup.enter)="sendMessage()"
    ></textarea>
  </div>
  <button class="send-btn" (click)="sendMessage()">Send</button>
  <p *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </p>
</div>
