.chat-app {
  display: flex;
  justify-content: space-around;
  .chat-card {
    background-color: white;
    border-radius: 1rem;
    width: 40vw;
    padding: 1rem;
    margin: 2rem;
    box-shadow: 5px 5px 20px lightgray;
    h1 {
      // padding: 1rem;
      margin: 1rem;
      text-align: center;
    }
  }
}
