<div class="chat-app">
  <div class="chat-card">
    <app-chat-input
      [messages]="messages"
      [messagePackage]="messagePackage"
      id="a-message"
    ></app-chat-input>
    <app-chat-logs
      [messages]="messages"
    ></app-chat-logs>
  </div>
  <div class="chat-card">
    <app-chat-input
      [messages]="messages"
      [messagePackage]="messagePackage"
      id="b-message"
    ></app-chat-input>
    <app-chat-logs
      [messages]="messages"
    ></app-chat-logs>
  </div>
</div>
