<div class="chat-app">
  <div class="chat-card">
    <h1 id="a-title">Chat A</h1>
    <hr id="a-line" />
    <app-chat-logs [messages]="messages"></app-chat-logs>
    <hr id="a-line" />
    <app-chat-input [aChat]="aChat" [messages]="messages"></app-chat-input>
  </div>

  <div class="chat-card">
    <h1 id="b-title">Chat B</h1>
    <hr id="b-line" />
    <app-chat-logs [messages]="messages"></app-chat-logs>
    <hr id="b-line" />
    <app-chat-input [bChat]="bChat" [messages]="messages"></app-chat-input>
  </div>
</div>
