.chat-input {
  label {
    margin: 0.5rem 1rem;
    width: 7rem;
    text-align: right;
    color: grey;
    font-size: 20px;
  }

  .username-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .username-input {
      margin: 0.5rem;
      padding: 0.5rem;
      border-radius: 0.5rem;
      width: 100%;
      background-color: #fffaef;
      border: none;
      font-size: 15px;
    }
  }

  .message-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .message-input {
      margin: 0.5rem;
      padding: 0.5rem;
      border-radius: 0.5rem;
      width: 100%;
      height: 5rem;
      background-color: #fffaef;
      border: none;
      font-size: 15px;
    }
  }

  button {
    float: right;
    margin: 0.5rem;
    padding: 0.5rem 2rem;
    border: 2px solid #d7bf6b;
    border-radius: 0.5rem;
    background-color: white;
    color: #d7bf6b;
    font-weight: 500;
    font-size: 15px;
    
    &:hover {
      border: 2px solid #c0a235;
      color: #c0a235;
      background-color: #fffaef;
    }
  }

  .error-message {
    color: red;
  }
}
